/* ESTILIZAÇÃO MAIN */
main{
    padding-top: 120px;
    padding-bottom: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.imagem-main{
    border-radius: 140px 20px 140px 20px ;
    width: 100%;
    height: 554px;
    background: center / cover no-repeat url("../../assets/images/banner-main.jpg");
}
.texto-main{
    align-self: center;
}
h1{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 4rem;
    margin-bottom: 32px;
}
.texto-main h1 span{
    color: var(--cor-p1);
}
.texto-main p{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--cinza-escuro);
    margin-bottom: 20px;
}

/* ESTILIZAÇÃO SOBRE O SERVIÇO SECTION */
.bg-servico{
    background-color: var(--cinza-claro);
}
.servico{
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.texto-servico{
    text-align: center;
}
 
.texto-servico h2 span{
    color: var(--cor-p1);
}
.texto-servico p{
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: var(--cinza-escuro);
}
.cards-servico{
    max-width: 1600px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
}
.servico .button{
    align-self: center;
}

/* ESTILIZAÇÃO DIFERENCIAIS SECTION */
.como-funciona{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 40px;
    place-items: start;
}
.titulo-como-funciona h2 span{
    color: var(--cor-p1);
}
.titulo-como-funciona{
    align-self: start;
}
.img-como-funciona{
    grid-column: 1;
}
.img-como-funciona img{
    grid-column: 1;
    border-radius: 20px;
}
.conteudo-como-funciona{
    align-self: start;
    grid-column: 2;
    grid-row: 1 / -1;
}
.conteudo-como-funciona h3{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 12px;
}
.conteudo-como-funciona p{
    font-family: "Roboto", sans-serif;
    font-size: 1.125rem;
    color: var(--cinza-escuro);
}
.passo-a-passo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    margin-left: 20px;
}

/* TRATANDO RESPONSIVIDADE */
@media (max-width: 1000px){
    /* RESPONSIVIDADE SOBRE O SERVIÇO SECTION */
    .cards-servico{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .card-servico:nth-child(3){
        grid-column: 1 /-1;
    }

    /* RESPONSIVIDADE COMO FUNCIONA SECTION */
    .como-funciona{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: unset;
    }
    .titulo-como-funciona{
        text-align: center;
        grid-row: 1;
        grid-column: 1 / -1;
    }
    .conteudo-como-funciona{
        grid-row: 2;
        grid-column: 1 / -1;
    }
    .img-como-funciona{
        grid-row: 3;
        grid-column: 1 / -1;
        background: center / cover no-repeat url("../assets/images/imagem-diferenciais.jpg");
        border-radius: 20px;
        height: 300px;
    }
    .img-como-funciona img{
       display: none;
    }
}

@media (max-width: 850px){
    /* RESPONSIVIDADE MAIN */
    main{
        grid-template-columns: 1fr;
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .imagem-main{
        height: 477px;
        order: 1;
    }
    .texto-main{
        order: 2;
    }

    /* RESPONSIVIDADE SOBRE O SERVIÇO SECTION */
    .servico{
        padding-top: 80px;
        padding-bottom: 80px;
        gap: 80px;
    }
    .cards-servico{
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
        gap: 60px;
    }
    .card-servico{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .como-funciona{
        padding-top: 80px;
        padding-bottom: 80px;
    }
}

/* RESPONSIVIDADE SOBRE O SERVIÇO SECTION */
@media (max-width: 540px){
    .decorativo::after{
        height: 75%;
    }
}
@media (max-width: 400px){
    .decorativo-form::before,
    .decorativo-form::after{
        width: 140px;
    }
}