/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
/* Reset de margins e paddings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

/* Definindo cores */
:root{
    --preto: #000000;
    --cinza-escuro: #3C3C3C;
    --cinza-claro: #F6F6F6;
    --branco: #ffffff;
    --cor-p1: #266DD3;
    --cor-p2: #23C9FF;
    --cor-p3: #C0ECFF;
    --cor-p4: #000210;
}
 
 
/* Componente container */
.container{
    box-sizing: border-box;
    max-width: 1400px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin: auto;
}

/* Componente H2 */
.h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}

/* Forms */
.main_form{
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 400px;
    position: relative;
}
.logo_form{
    width: 230px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.main_form h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
    font-family: "Inter", sans-serif;
}
.subtitulo_form{
    font-family: "Inter", sans-serif;
    color: #3C3C3C;
    text-align: center;
    margin-bottom: 40px;
}
form .inputs{
    margin-bottom: 20px;
}
form .inputs label{
    font-family: "Inter", sans-serif;
    display: block;
    font-weight: 600;
    margin-bottom: 10px;
}
form .inputs input, form .inputs select{
    font-family: "Inter", sans-serif;
    border: 1px solid #A3A3A3;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#idSenha{
    padding-right: 40px;
}
form .inputs input:focus, form .inputs select:focus{
    outline: none;
    border-color: var(--cor-p1);
    box-shadow: 0 0 0 2px #bceeff;
}

.lembrar_senha{
    display: flex;
    align-items: center;
}
.lembrar_senha{
    gap: 10px;
}
.lembrar_senha input{
    width: 16px;
    height: 16px;
    border-radius: 5px;
    border: 1px solid #A3A3A3;
    appearance: none;
}
.lembrar_senha input:checked {
    appearance: auto;
    background-color: blue;
}
.lembrar_senha p{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 600;
}
.button{
    background-color: var(--cor-p1);
    color: white;
    text-transform: uppercase;
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    align-self: center;
    width: 100%;
}
.button:hover{
    background-color: #3099d6;
}
 