/* Import Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 
/* Reset de margins e paddings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html{
    scroll-behavior: smooth;
}

img{
    max-width: 100%;
    display: block;
}
 
 
/* Definindo cores */
:root{
    --preto: #000000;
    --cinza-escuro: #3C3C3C;
    --cinza-claro: #F6F6F6;
    --branco: #ffffff;
    --cor-p1: #266DD3;
    --cor-p2: #23C9FF;
    --cor-p3: #C0ECFF;
    --cor-p4: #000210;
}
 
 
/* Componente container */
.container{
    box-sizing: border-box;
    max-width: 1400px;
    padding-left: 20px ;
    padding-right: 20px ;
    margin: auto;
}

/* Componente H2 */
.h2{
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 20px;
}